<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/style/single_form.css">
  <title>Eliminar Alumno</title>
  <style>
    .hidden {
        display: none;
    }
  </style>
</head>
<body>
  <section class="form-register">
    <h2> Esta seguro que desea eliminar esta cuenta? </p>
    <div id="pregunta">
      <alert class="hidden" id="error-alert-delete"> ERROR: <div id="error-delete"> </div> </alert>
      <br>
      <button class="botons"name="delete-confirm" id="delete-confirm"> Si, quiero borra mi cuenta </input>
    </div>
    <p  id="confirmacion" class="hidden"> Se elimino la cuenta con exito</p>
    <center>
    <div id="redirect">
      <a href={{url_for('alumnos_view', id=alumno.codigo)}}> Regresar a mi perfil </a>
    </div></center>
  </section>
</body>
<script>
  document.getElementById("delete-confirm").onclick = function(e){
    e.preventDefault();
    // Handeling Request
    const request_url = "{{url_for('api_alumnos_delete',id=alumno.codigo)}}"
    fetch( request_url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(response){
                return response.json()
            }).then(function(jsonResponse) {
                console.log(jsonResponse)                    
                if (jsonResponse['success'] === true){
                    document.getElementById('confirmacion').className = ''
                    document.getElementById('redirect').innerHTML = '<a href='+jsonResponse['redirect']+'> Regresar al menu </a>'
                    document.getElementById("pregunta").innerHTML = ''
                }
                else {
                    /*Error Handeling*/
                    document.getElementById("error-alert-delete").className=''
                    document.getElementById("error-delete").innerHTML = jsonResponse['error_message']
                }
            })
  }
</script>
</html>
