<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../../static/style/main.css">
	<link rel="stylesheet" href="../../static/style/form.css">

	<title>Actualizar info</title>
</head>

<body>
	<div class="navbar">
        <a class="active" href="/">Menú Principal</a>
        <a href="/explore">Explorar</a>
        <a href="/alumnos/list">Alumnos</a>
        <a href="/horarios/list">Horarios</a>
        <a href="/docentes/list">Docentes</a>
        <a href="/cursos/list">Cursos</a>
    </div>
	<section class="form-register">
		<h4>Actulizar informacion: </h4>

		<form method='POST' action="">
			{% if error %}
			<div class="alert-error">
				<strong>{{error}}!</strong>
			</div>
			{% endif %}
			{% for field in form.errors %}
			{% for error in form.errors[field] %}
			<div class="alert-error">
				<strong>Error!</strong> {{error}}
			</div>
			{% endfor %}
			{% endfor %}

			{{form.hidden_tag()}}
			{{form.name(class="controls", placeholder="Ingrese su nombre")}}
			{{form.last_name(class="controls", placeholder="Ingrese sus apellidos")}}
			{{form.correo(class="controls", placeholder="Ingrese su correo utec")}}

			<div>
				{{form.submit(class="botons")}}
			</div>
		</form>
	</section>

</body>
</html>
