<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>

<body>
  <h1> Cursos </h1>

  {% if cursos %}
    {% for curso in cursos %}
        <a href={{url_for('cursos_view', id=curso.codigo)}}> {{curso.codigo}}:  {{curso.curso}}</a> <br>
    {% endfor %}
  {% else %}
    <p> No hay cursos actualmente </p>
  {% endif %}
</body>
</html>
