<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/menu.css">
	<title>Explorar</title>
</head>

<body>

	<h1>Explorar</h1>
	<div class="container">
	<a href={{url_for('alumnos_list')}}>
		<button class="btn btn-1">Alumnos</button>
	</a>
	<a href={{url_for('horarios_list')}}>
		<button class="btn btn-2">Horarios</button>
	</a>
	</div>
	<div class="container">
		<a href={{url_for('docentes_list')}}>
			<button class="btn btn-1">Docentes</button>
		</a>
		<a href={{url_for('cursos_list')}}>
			<button class="btn btn-3">Cursos</button>
		</a>
	</div>

</body>

</html>