<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/form.css">
	<title>Docentes</title>
	<style>
		.hidden {
			display: none;
		}
	</style>

	<link rel="stylesheet" href="/static/style/main.css">
</head>

<body>

	<body>
		<div class="navbar">
			<a class="active" href={{url_for("menu_inicio")}}>Menú Principal</a>
	        <a href={{url_for("explore")}}>Explorar</a>
	        <a href={{url_for("alumnos_list")}}>Alumnos</a>
	        <a href={{url_for("horarios_list")}}>Horarios</a>
	        <a href={{url_for("docentes_list")}}>Docentes</a>
	        <a href={{url_for("cursos_list")}}>Cursos</a>
		</div>
		<h1>Docentes</h1>
		<alert class="hidden" id="error-alert-filter">ERROR:
			<span id="error-filter"></span>
		</alert>
		<form class="form-register" id="form-filter">
			<h4>Busca a un docente: </h4>

			<input class="controls" placeholder="Nombre del docente" type='texto' id="filter-nombre" name='filter-nombre' value="" />

			<input class="controls" placeholder="Apellidos del docente" type='texto' id="filter-apellido" name='filter-apellido' value="" />

			<input class="botons" type="submit" id="submit-filter" value="Submit" />
		</form>

		<br>
		<h2> Lista de docentes: </h2>
		<p class="{% if docentes%}hidden{%endif%}" id="empty-message">No hay docentes actualmente </p>
		<ul id='docentes-list'>
			{% for docente in docentes %}
			<li>
				<a href={{url_for('docentes_view', id=docente.codigo)}}>
					{{docente.codigo}}: {{docente.nombre}} {{docente.apellido}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</body>
	<script>
		document.getElementById("form-filter").onsubmit = function(e){
			e.preventDefault();
			// Handeling Request
			const filter_nombre = document.getElementById("filter-nombre").value
			const filter_apellido = document.getElementById("filter-apellido").value
			const request_url = "{{url_for('api_docentes_read_filter')}}"
			fetch( request_url + '?' +new URLSearchParams({docente_nombre:filter_nombre,docente_apellido:filter_apellido}), {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(function(response){
				return response.json()
			}).then(function(jsonResponse) {
				console.log(jsonResponse)
				if (jsonResponse['success'] === true){
					// Actualizar mensajes
					document.getElementById("error-alert-filter").className='hidden'
					if (jsonResponse['empty'] === true){
						document.getElementById("empty-message").className=''
					}
					else{
						document.getElementById("empty-message").className='hidden'
					}
					// Poblar lu
					document.getElementById("docentes-list").innerHTML = ''
					const docentes_list = jsonResponse['docentes']
					for (let i=0; i < docentes_list.length; i++){
						const docente = docentes_list[i]
						const liItem = document.createElement('li')
						liItem.innerHTML =
						 '<a href='+docente['docente_url']+'> '+docente['docente_codigo']+': ' + docente['docente_nombre'] + ' ' + docente['docente_apellido']+'</a>'
						 document.getElementById("docentes-list").appendChild(liItem)
					}
				}
				else {
					/*Error Handeling*/
					document.getElementById("error-alert-filter").className=''
					document.getElementById("error-filter").innerHTML = jsonResponse['error_message']
				}
			})
		}
	</script>
</html>
