<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docentes</title>
</head>
<body>

<body>
  <h1> Docentes </h1>
  {% if docentes %}
    <ul>
    {% for docente in docentes %}
        <li> <a href={{url_for('docentes_view', id=docente.codigo)}}> {{docente.codigo}}:  {{docente.nombre}} {{docente.apellido}}</a> <br>
    {% endfor %}
    </ul>
  {% else %}
    <p> No hay docentes </p>
  {% endif %}
</body>
</html>
