<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/form.css">
	<title>Docente</title>
</head>

<body>
	<div class="navbar">
		<a class="active" href={{url_for("menu_inicio")}}>Menú Principal</a>
        <a href={{url_for("explore")}}>Explorar</a>
        <a href={{url_for("alumnos_list")}}>Alumnos</a>
        <a href={{url_for("horarios_list")}}>Horarios</a>
        <a href={{url_for("docentes_list")}}>Docentes</a>
        <a href={{url_for("cursos_list")}}>Cursos</a>
    </div>

	<h1>Datos de Docente: {{docente.nombre}}. {{docente.apellido}} </h1>
	<p>Codigo: {{docente.codigo}} </p>
	<p>Correo: {{docente.correo}} </p>
	<h2>Clases: </h2>
	{% if docente.clases%}
	{% for curso in docente.clases | groupby("curso.curso") %}
	<p>{{ curso.grouper }} : </p>
	<ul>
		{% for c in curso.list %}
		<li>
			<a href={{url_for('clases_view',id=c.id)}}>
				{{c.seccion}}.{{c.numero}} - {{c.tipo.name}} por {{c.docente.nombre}} {{c.docente.apellido}}
			</a>
		</li>
		{% endfor %}
	</ul>
	<br>
	{% endfor %}
	{% else %}
	Este docente no tiene clases
	{% endif %}
</body>

</html>
