<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <style>
            .hidden {
                display: none;
            }
    </style>
</head>
<body>
    <h1> Actualizar Horario #{{horario.id}} </h1>
    <table id="table_horario">
        <thead>
        <tr>
            <th scope="col">Hora</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sabado</th>
            <th scope="col">Domingo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">7:00 - 8:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">8:00 - 9:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">9:00 - 10:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        
        </tr>
        <tr>
            <th scope="row">10:00 - 11:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">11:00 - 12:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">12:00 - 13:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">13:00 - 14:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">14:00 - 15:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">15:00 - 16:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">16:00 - 17:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">17:00 - 18:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">18:00 - 19:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">19:00 - 20:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">20:00 - 21:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">21:00 - 22:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        </tbody>
    </table>

    <h1> STATUS: <alert id="status">{{status}}</alert> </h1>
    <alert class="hidden" id="error-alert"> ERROR: <div id="error"> </div> </alert>
    <br>

    <h1> Cursos: </h1>
    <p>
        {% for curso in data %}
            <h3> {{ curso.curso }} </h3>
            {% if curso.clases %}
                {% for secciones in curso.clases | groupby("seccion") %}
                    <p> SECCION {{ secciones.grouper }} : </p>
                    {% for tipos in secciones.list | groupby("tipo") %}
                        <p> {{ tipos.grouper.name }} : </p>
                        <ul>
                        {% for c in tipos.list %}
                            <li> <a href={{url_for('clases_view',id=c.id)}}> {{c.seccion}}.{{c.numero}} - {{c.tipo.name}} por {{c.docente.nombre}} {{c.docente.apellido}} </a> <button class="add-button" data-id="{{c.id}}"> Agregar </button>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    <br>
                {% endfor %}
            {% else %}
                <p> Este curso no tiene clases </p>
            {% endif %}
        {% endfor %}   
    </p>
</body>

    <script>
        const init_table = {{horario_table|tojson}}

        function UpdateTable(data){
            for (let i = 0; i < data.length; i++) {
                const subdata = data[i]
                for (let j = 0; j < subdata.length; j++) {
                    const cell_content = subdata[j]
                    document.getElementById("table_horario").rows[i+1].cells[j+1].innerHTML = cell_content
                }
            }
        }

        UpdateTable(init_table)

        const add_buttons = document.querySelectorAll('.add-button')
        for (let i=0; i < add_buttons.length; i++){
            const button = add_buttons[i]
            button.onclick = function(e){
                const clase_id = e.target.dataset['id']
                fetch( "{{url_for('horarios_update_add',id=horario.id)}}", {
                    method: 'UPDATE',
                    body: JSON.stringify({
                        'clase_id': clase_id
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response){
                    return response.json()
                }).then(function(jsonResponse) {
                    console.log(jsonResponse)
                    document.getElementById("status").innerHTML = jsonResponse['status_horario']
                    if (jsonResponse['success'] === true){
                        document.getElementById("error-alert").className='hidden'
                        UpdateTable(jsonResponse['table_horario'])
                    }
                    else {
                        document.getElementById("error-alert").className=''
                        document.getElementById("error").innerHTML = jsonResponse['error_message']
                    }
                })
            }
        }

    </script>
</html>