<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <style>
            .hidden {
                display: none;
            }
    </style>
</head>
<body>
    <h1> Visualizar Horario <div id="horario-titulo">{{horario.titulo}}</div> </h1>
    <p> ID: #{{horario.id}}
    <p> Generado por <a href={{url_for('alumnos_view',id=horario.alumno.codigo)}}> {{horario.alumno.nombre}} {{horario.alumno.apellido}} </a> </p>
    <table id="table_horario">
        <thead>
        <tr>
            <th scope="col">Hora</th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th scope="col">Viernes</th>
            <th scope="col">Sabado</th>
            <th scope="col">Domingo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">7:00 - 8:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">8:00 - 9:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">9:00 - 10:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        
        </tr>
        <tr>
            <th scope="row">10:00 - 11:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">11:00 - 12:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">12:00 - 13:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">13:00 - 14:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">14:00 - 15:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">15:00 - 16:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">16:00 - 17:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">17:00 - 18:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">18:00 - 19:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">19:00 - 20:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">20:00 - 21:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        <tr>
            <th scope="row">21:00 - 22:00</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        </tbody>
    </table>

    <h1> STATUS: <alert id="status">{{status}}</alert> </h1>
    <alert class="{%if not pending_cursos%}hidden{%endif%}" id="pending-alert"> Cursos incompletos:  <div id="pending-container"> {{pending_cursos}} </div> </alert>

    {% if current_user.is_authenticated %}
        {% if current_user.codigo == horario.alumno.codigo %}
            <h2> Modificar </h2>
            <a href={{url_for('horarios_update', id=horario.id)}}> Edita tu horario </a>
            <h2> Eliminar </h2>
            <a href={{url_for('horarios_delete', id=horario.id)}}> Eliminar tu horario </a>
        {% endif %}
    {% endif %}
</body>

    <script>
        function UpdateTable(data){
            for (let i = 0; i < data.length; i++) {
                const subdata = data[i]
                for (let j = 0; j < subdata.length; j++) {
                    const cell_content = subdata[j]
                    document.getElementById("table_horario").rows[i+1].cells[j+1].innerHTML = cell_content
                }
            }
        }
        const init_table = {{table_horario|tojson}}
        UpdateTable(init_table)
    </script>
</html>