<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style/main.css">
	<link rel="stylesheet" href="/static/style/table.css">
    <title>Horario</title>
	<style>
		.hidden {
			display: none;
		}
	</style>
</head>

<body>
    <div class="navbar">
        <a class="active" href={{url_for("menu_inicio")}}>Menú Principal</a>
        <a href={{url_for("explore")}}>Explorar</a>
        <a href={{url_for("alumnos_list")}}>Alumnos</a>
        <a href={{url_for("horarios_list")}}>Horarios</a>
        <a href={{url_for("docentes_list")}}>Docentes</a>
        <a href={{url_for("cursos_list")}}>Cursos</a>
    </div>
	<center><h1>Vista de horario</h1></center>
	<h2>Nombre de horario: <span id="horario-titulo">{{horario.titulo}}</span></h2>
	<p>
		Por: <a href={{url_for('alumnos_view',id=horario.alumno.codigo)}}>
			{{horario.alumno.nombre}}
			{{horario.alumno.apellido}}
		</a>
	</p>

	<section id="table">
		<table id="table_horario">
			<thead>
				<tr>
					<th scope="col">Hora</th>
					<th scope="col">Lunes</th>
					<th scope="col">Martes</th>
					<th scope="col">Miercoles</th>
					<th scope="col">Jueves</th>
					<th scope="col">Viernes</th>
					<th scope="col">Sabado</th>
					<th scope="col">Domingo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">7:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">8:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">9:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>

				</tr>
				<tr>
					<th scope="row">10:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">11:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">12:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">13:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">14:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">15:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">16:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">17:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">18:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">19:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">20:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<th scope="row">21:00</th>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
			</tbody>
		</table>
		
		<h1>STATUS:<alert id="status">{{status}}</alert>
		</h1>
		<alert class="{%if not pending_cursos%}hidden{%endif%}" id="pending-alert"> Cursos incompletos: <div
				id="pending-container"> {{pending_cursos}} </div>
		</alert>
	</section>

    {% if current_user.is_authenticated %}
		<h2 type="hidden">-------------------------</h2>
        {% if current_user.codigo == horario.alumno.codigo %}

            <a class="botons" type="button" href={{url_for('horarios_update', id=horario.id)}}>Editar horario</a>
            <a class="botons" type="button" href={{url_for('horarios_delete', id=horario.id)}}>Eliminar horario</a>

			{% endif %}
			<h2 type="hidden">-------------------------</h2>
    {% endif %}

    {% if current_user.is_authenticated %}
        <h2 id="favoritos-title"> {% if in_favoritos%}Quitar de tus Favoritos{%else%}Agregar a tus Favoritos{%endif%} </h3>
            <button class="botons" id="update-favoritos-boton" data-action="{% if in_favoritos%}delete{%else%}add{%endif%}">{% if in_favoritos%}Quitar{%else%}Agregar{%endif%}</button>
            <alert class="hidden" id="error-alert-favoritos"> ERROR: <div id="error-favoritos"> </div> </alert>
            <br>
    {% endif %}
</body>
    {% if current_user.is_authenticated %}
    <script>
        document.getElementById("update-favoritos-boton").onclick = function(e){
            // Request constants
            const favoritos_action  = e.target.dataset['action']
            const request_url       = (favoritos_action==="add") ? "{{url_for('api_favoritos_add',id=horario.id)}}" : "{{url_for('api_favoritos_delete',id=horario.id)}}"
            const request_method    = (favoritos_action==="add") ? "POST" : "DELETE"
            // Result constants (para update del html)
            const alternate_action  = (favoritos_action==="add") ?  "delete" : "add"
            const alternate_html    = (favoritos_action==="add") ?  "Quitar" :"Agregar"
            const alternate_titulo  = (favoritos_action==="add") ?  "Quitar de tus Favoritos" :"Agregar a tus Favoritos "
            // Handeling Request
            fetch( request_url, {
                method: request_method,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(response){
                return response.json()
            }).then(function(jsonResponse) {
                console.log(jsonResponse)
                if (jsonResponse['success'] === true){
                    /*Actualizacion de Datos*/
                    // Eliminacion de error
                    document.getElementById("error-alert-favoritos").className='hidden'
                    // Actualizacion de botones y texto
                    e.target.dataset['action'] = alternate_action
                    e.target.innerHTML = alternate_html
                    document.getElementById("favoritos-title").innerHTML=alternate_titulo
                }
                else {
                    /*Error Handeling*/
                    document.getElementById("error-alert-favoritos").className=''
                    document.getElementById("error-favoritos").innerHTML = jsonResponse['error_message']
                }
            })
        }
    </script>
    {% endif %}
    <script>
        function UpdateTable(data){
            for (let i = 0; i < data.length; i++) {
                const subdata = data[i]
                for (let j = 0; j < subdata.length; j++) {
                    const cell_content = subdata[j]
                    document.getElementById("table_horario").rows[i+1].cells[j+1].innerHTML = cell_content
                }
            }
        }
        const init_table = {{table_horario|tojson}}
        UpdateTable(init_table)
    </script>
</html>
