@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

:root {
	--blue: #55c0e1;
	--blueD: #1f8cad;

	--red: #d93e26;
	--redD: #9c2d1c;

	--dark: #121f2b;
	--light: #EBEFF2;

	--shadow: 0 0 20px rgba(18, 31, 43, 0.3);
	--trans: rgba(255, 255, 255, 0.2);
}

* {
	margin: 0;
	padding: 0;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: "Avenir Next";
	color: var(--dark);
}

body {
	margin: 2%;
	background-color: var(--light);
}

h1 {
	font-size: 60px;
	font-weight: 600;
	text-align: left;
	color: var(--dark);
	letter-spacing: 0px;
	line-height: 60px;
	margin: 80px 0 20px 0;
}

h2 {
	font-size: 25px;
	color: var(--red);
	font-weight: 40;
	font-weight: 400;
}

p {
	font-size: 20px;
	font-style: italic;
	font-weight: 30;
	text-align: left;
	font-weight: 400;
}

a {
	font-size: 20px;
	font-style: italic;
	color: var(--blue);
}

ul,
li {
	text-decoration: none;
	list-style-type: none;
}

.navbar {
	overflow: hidden;
	background-color: var(--blueD);
	position: fixed;
	top: 2%;
	left: 2%;
	width: 96%;
	border-radius: 10px;
	box-shadow: var(--shadow);
}

.navbar a {
	float: left;
	display: block;
	color: var(--light);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.botons {
	background: var(--blue);
	border-radius: 5px;
	border: none;
	padding: 5px;
	color: var(--light);
	margin: 16px 0;
	font-size: 16px;
	transition-duration: 0.4s;
}

.botons:hover {
	filter: saturate(0.5);
}