.container {
	position: relative;
	top: 45%;
	left: 60%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

table {
	margin: 40px auto 40px auto;
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	background-color: var(--dark);
	box-shadow: var(--shadow);
	border-radius: 20px;
}

table * {
	color: var(--light);
}

th,
td {
	padding: 15px;
}

th {
	text-align: left;
}

thead th {
	background-color: var(--blueD);
}

tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
	position: relative;
}

tbody td:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -9999px;
	bottom: -9999px;
	background-color: var(--shadow);
	z-index: -1;
}